.icon {
  height: 35px;
}

.main {
  padding-top: 100px;
}

.fixed {
  position: fixed;
}
.card-container {
  max-height: 85vh;
  height: auto;
  overflow-y: auto;
}

.card {
  display: flex;
  break-inside: avoid;
}

.card .card-footer .input-group .btn-minus {
  background-color: #abb2b9;
  border: 1px solid #abb2b9;
  color: white;
  border-radius: 3px 0px 0px 3px;
}
.card .card-footer .input-group .btn-minus:hover {
  background-color: #808b96;
  border: 1px solid #808b96;
  color: white;
  border-radius: 3px 0px 0px 3px;
}

.card .card-footer .input-group .btn-add {
  background-color: #abb2b9;
  border: 1px solid #abb2b9;
  color: white;
  border-radius: 0px 3px 3px 0px;
}
.card .card-footer .input-group .btn-add:hover {
  background-color: #808b96;
  border: 1px solid #808b96;
  color: white;
  border-radius: 0px 3px 3px 0px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body .col-5 {
  text-align: right;
}

.card-body .col-7 {
  text-align: left;
}

.card-columns {
  column-count: 3;
}

.cart-item {
  position: relative;
}

.cart-delete {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.bg-color {
  background-color: blue;
}

.order-summary-container {
  background-color: #f2f4f4;
  border-radius: 3px;
}

.order-summary .col-5 {
  text-align: right;
}

.order-summary .col-7 {
  text-align: left;
}

#confirmCheckout {
  visibility: hidden;
}

.receipt {
  background-color: #f2f4f4;
  border-radius: 10px;
  padding: 20px;
}
.receipt-header {
  text-align: center;
}
.receipt-footer {
  text-align: center;
}

.order-summary .col-sm-5 {
  text-align: right;
}

.order-summary .col-sm-7 {
  text-align: left;
}
.order-summary-cart .col-sm-5 {
  text-align: right;
}

.order-summary-cart .col-sm-7 {
  text-align: left;
}
.order-summary-total .col-sm-5 {
  text-align: right;
}

.order-summary-total .col-sm-7 {
  text-align: left;
}

.right-payment {
  text-align: right;
}

.left-payment {
  text-align: left;
}
